*{margin-bottom:30px;
}
body{	background: url(img/2.jpg);}		
.cabeza{background:#BDB76B;
			padding:1%;
			opacity:0.3;
			border-radius:15px;
			color:blacke;
			font-family: cursive;
			font-size:400%;
			text-align:center;}

#barra{
			background: #BC839D;
			padding-bottom:22px;
			height:10px;
			border-radius:10px;
			
			list-style-type:none;}
			
#barra li{display:inline;
				width:20px;
				background:#5F384A;
				padding:15px;
				border-radius:15px 15px 0px 0px;
				border-style:solid 10px;
				border-color:red;}
#barra li a{text-decoration:none;
			color:white;
			font-family: Arial, Helvetica, sans-serif;	}
			
#barra li:hover{background-color: #691F40;}
#campo{border-radius:15px;
			height:100%;
			width:70%;
			margin-left:20%;
			float:up;}
#login{border-radius:15px;
			background:white;
			height:80%;
			
			width:50%;
			margin-left:20%;
			float:up}
#reloj{
			float:left;
			padding:15px;
			width:450px;}
	

#tablesorter {
	font-size: 100%;
	background-color:#F0F0F0  ;
	width: 90%;
	border: 4px solid black;
	
	height:80%;
	float:center;
}

#tablesorter th {
	text-align: center;
	padding:1%;
	background-color: #D3D3D3;
	border: 4px solid black;
	font-family:Arial, Helvetica, sans-serif;

}
#tablesorter td {
	color: black;
	padding:1%;
	border: 4px solid #B22222;
	font-family:Arial, Helvetica, sans-serif;
}
#tablesorter .even {
	background-color: #00E3D8;
	border: 2px solid black;
}
#tablesorter .odd {
	background-color: #6E6E6E;
	border: 2px solid black;
}
#tablesorter .header {
	/*background-image: url(bg.png);
	background-repeat: no-repeat;*/
	border-left: 2px solid black;
	border-top: 2px solid black;
	padding-left: 30px;
	padding-top: 8px;
	height: 30%;
}
#tablesorter .headerSortUp {
	background-image: url(asc.png);
	background-repeat: no-repeat;
}
#tablesorter .headerSortDown {
	background-image: url(desc.png);
	background-repeat: no-repeat;
}
.form-control{
		border-radius:10px;
		padding:15px;
		width:250px;
	}
.form-group{
		font-family:arial;
		font-size:20px;}
			
.btn-default{
				padding:15px;
				width:100px;
				border-radius:15px;
			}

