*{
	margin-bottom:5px;
}

html { 
	overflow:auto; 
}

body{
	background: url(../img/background_index_tapiz.jpeg);
	min-height: 100%;
	position:relative;
}
		
header{
	background: #1b519b;
	padding: 3.5%;
	opacity:0.7;
	border-radius: 5px;
	color: white;
	font-family: Amatic SC; 
	font-size: 300%;
	text-align: center;
	margin-bottom:10px;
}

#barra{
	position:relative; 
	overflow:hidden; 
	width:100%;
	background:#2F4F4F; 
	list-style-type: none;
	float:center; 
	border-radius:5px;
	height:40px;
	opacity:0.8;
}
			
#barra a { 
	display: inline-block;
	width: 150px;  
	box-sizing: border-box; 
	padding: 10px 5px;  
	border-style: solid 10px;
	text-decoration:none;  
	color:white;  
	font: bold 90% Arial;
	border-right: 2px solid #fff;	 
	position:relative; 
	z-index:2;
	text-align:center; 
	font-size:15px;
	margin-left: -3px;
}
	
#barra a:first-child {
	border-left: 1px solid #fff;
}

#marca {
	position: absolute; 
	width: 147px; 
	height: 40px;  
	padding:35px;
	box-sizing: border-box;  
	left: -30%;  
	bottom:0;  
	background:gray;
	transition: 0.5s ease-in-out;  
	z-index:1;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#barra a:hover {
	color: #efe489;
}

#barra a:active{
	color: #fde200;
}

#barra a:hover ~ #marca {
	margin-bottom: -1px;
}

#barra a:nth-child(1):hover ~ #marca {
	left: 0; 
}

#barra a:nth-child(2):hover ~ #marca {
	left: 148px; 
}

#barra a:nth-child(3):hover ~ #marca {
	left: 299px; 
}

#nameUser{
	display: inline-table;
	float: right;
	margin-right: 15px;
	padding-top: 10px;
	font: bold 100% Arial;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#campo{
	height: 75%;
	width: 100%;
}

/*--------------------------------BARRA LATERAL-----------------------------*/
#barra_lateral{
	position: relative;
	width: 25%;
	max-width: 300px;
	min-width: 100px;
	overflow: hidden;
	margin: 10px auto;
	background: #000;
	text-align:center;
	float:left;
	background:#2F4F4F;
	height:100%;
	opacity:0.8;
}

#barra_lateral a {
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	height: 40px;
	padding: 10px;
	border-bottom: 2px solid #fff;
	color: white;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	margin: 0 auto;
}

#barra_lateral a:first-child {
	border-top: 1px solid #333;
}

.marcav {
	position: absolute;
	top: -30%;
	left: 0;
	width: 100%;
	height: 40px;
	background: gray;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	z-index: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#barra_lateral a:hover {
	color: #efe489;
}

#barra_lateral a:active{
	color: #fde200;
}

#barra_lateral a:hover ~ .marcav{
	margin-top: 0px;
}

#barra_lateral a:nth-child(1):hover ~ .marcav {
	top: 0px; 
}

#barra_lateral a:nth-child(2):hover ~ .marcav {
	top: 37px; /* (100/nº elementos) * 1 */
}

#barra_lateral a:nth-child(3):hover ~ .marcav {
	top: 78px; /* (100/nº elementos) * 2 */
}

#main_form{
	overflow: hidden;
	width: 75%;
	padding-top: 25px;
}

#content_form{
	opacity: 0.9;
	background: white;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0px 15px 0px;
	margin-bottom: 10px;
	border-bottom:2px solid #2F4F4F;
	border-left:2px solid #2F4F4F;
}

#content_form  table{
	margin: 0 auto;
	text-align: left;
}

#content_form  table td{
	text-align: right;
}

#search_form{
	background: white;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0px 15px 0px;
	border-bottom:2px solid #2F4F4F;
	border-left:2px solid #2F4F4F;
}

#search_form  table{
	margin: 0 auto;
	text-align: left;
}

.tableSearch th{
	font: bold 90% Arial;
}

.tableSearch {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #2F4F4F;
	border-collapse: collapse;
}
.tableSearch th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #2F4F4F;
	background-color: #b0caf9;
}

.tableSearch td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #2F4F4F;
	background-color: white;
}

.classHide {
	display: none;
}

.form-title{
	font-family: verdana;
	font-size: 18px;
	font-weight: bold;
	float: center;
	color: #0f3e96;
}

.form-group{
	font-family: verdana;
	font-size: 15px;
	font-weight: bold;
}
	
.btn-default{
	padding: 10px;
	width: 100px;
	border-radius: 10px;
	font:  bold 90% Arial;
	background:#1b519b;
	color:white;
}


.form-control{  /*ingresar datos*/
	border-radius: 5px;
	padding: 10px 10px;
	width: 250px;
	margin-bottom:7px;
	border-bottom:2px;
	border: 2px solid #333;
	font-size:15px;
}

.form-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 250px;
	height: 34px;
	overflow: hidden;
	border-radius: 5px;
	margin-top: 5px;
	background: url(../img/arrow_down.gif) no-repeat right #ddd;
	border: 1px solid #ccc;
}

.form-control-add{
	border-radius: 5px;
	padding: 5px;
	width: 130px;
	margin-top: 5px;
}

.btn-default-add{
	padding: 5px;
	width: 30px;
	border-radius: 5px;
	font:  bold 90% Arial;
}

.form-select-add {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 95px;
	height: 34px;
	overflow: hidden;
	border-radius: 5px;
	margin-top: 5px;
	background: url(../img/arrow_down.gif) no-repeat right #ddd;
	border: 1px solid #ccc;
}

.form-search{
	border-radius: 10px;
	padding: 10px;
	width: 250px;
	margin-bottom: 5px;
	font-size:15px;
}

label.error {
    color: #FB3A3A;
    display: block;
    margin: 4px 0 5px 0px;
    padding: 0;
    text-align: left;
    width: 250px;
}

.rptaForm{
	color: #FB3A3A;
    float: center;
    margin: 4px 0 5px 0px;
    padding: 0;
    text-align: center;
    width: 250px;
}
